@font-face {
    font-family: "iconfont";
    /* Project id 4722756 */
    src: url('//at.alicdn.com/t/c/font_4722756_b6h4i46gczg.woff2?t=1736664520068') format('woff2'),
        url('//at.alicdn.com/t/c/font_4722756_b6h4i46gczg.woff?t=1736664520068') format('woff'),
        url('//at.alicdn.com/t/c/font_4722756_b6h4i46gczg.ttf?t=1736664520068') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrowdown:before {
    content: "\e66b";
}

.icon-warnfill:before {
    content: "\e662";
}

.icon-weixin:before {
    content: "\e6b1";
}

.icon-arrowup:before {
    content: "\e66d";
}

.icon-close:before {
    content: "\e650";
}

.icon-blog:before {
    content: "\e601";
}

.icon-code:before {
    content: "\e7fc";
}

.icon-QQ-circle-fill:before {
    content: "\e887";
}

.icon-home:before {
    content: "\e71b";
}

.icon-mail:before {
    content: "\e70a";
}

.icon-empty:before {
    content: "\e6a6";
}

.icon-github:before {
    content: "\e72a";
}

.icon-set_about_hov:before {
    content: "\e688";
}

.icon-chat:before {
    content: "\e69d";
}

.icon-error-fill:before {
    content: "\e839";
}

.icon-info:before {
    content: "\e83d";
}

.icon-success-fill:before {
    content: "\e842";
}
